 @model Todo


            <div class="row">
                <div class="col-md-6 offset-3">
                    <h3 class="text-center">Edit Todo</h3>
                        <form asp-action="EditTodo" asp-controller="Home" method="POST">
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="title"></span>
                                </div>
                                <input asp-for="title" class="form-control" value="@ViewBag.single.title">
                            </div>
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="description"></span>
                                </div>
                                <textarea asp-for="description" value="" class="form-control" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="bg-danger">
                                    <span asp-validation-for="due_date"></span>
                                </div>
                                <div class="input-group date" id="datetimepicker">
                                    <input asp-for="due_date" class="form-control datetimepicker" value="@ViewBag.single.due_date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <span class="glyphicon glyphicon-calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-round">Update</button>
                        </form>
                    </div>
                </div>